html {
  color: white;
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
}


header {
  display: flex;
  height: 30rem;
  width: auto;
  background-image: url("../glasses-bg.png");
  background-size: 100%;
  border: dashed green;
}
