html {
  color: white;
  font-size: 18px;
}

body {
  font-family: Helvetica;
  background-color: azure;
}


header {
  display: flex;
  height: 30rem;
  width: auto;
  background-image: url("../glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
/* border: dashed green;*/
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
/*  border: dotted 1px red;*/
}

.titlebar{
  display:flex;
  position: relative;
  top: 1rem;
  align-items: center;
  height: 3.5rem;
  background-color: cadetblue;
}

.companyinfo{
 top:0;
}

.companyinfo img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.companyinfo h4{
  font-size: 1rem;
  font-family: helvetica;
}

.navigation{
  margin-left: auto;
  top:0;
}

.altnavigation{
  display: none;
  margin-left: auto;
  top:0;
}


.navigation h4, .altnavigation h4{
  padding-right: 2rem;
}

.DJLS{
 display: flex;
 justify-content: flex-end;
 position: relative;
 top: 10rem;
 right: -2rem;
}

.DJLS h1{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  color: gray;
  font-size: 2rem;
  line-height: 1.2;
}

.servicebar{
  display: flex;
  justify-content: space-between;
}

.serviceitem{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.serviceitem h4{
  font-size: 1rem;
  font-family: helvetica;
  color: black;
  bottom: 0;
}

.serviceitem img{
  width:5rem;
  margin-bottom: 1rem;
}

#cfittings{
  margin-top: 3.5rem;
}

#dfittings{
  margin-top: 3rem;
}

.detailbar{
  display:flex;
  position: relative;
  height: auto;
  color:black;
/*  border: cadetblue dotted 1px;*/
}

.detailboxL{
  width:35%;
/*  border: blue dotted 1px;*/
}

.detailboxR{
  margin-left: auto;
/*  border: blue dotted 1px;*/
  width: 35%;
}

.detailboxL h1, .detailboxR h1{
  color: white;
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: 10rem;
}

footer img {
    height: 1.5rem;
    margin-top: 5rem;
    padding-left: 4rem;
    padding-right: 1rem;
}

footer span{
   color: black;
   font-size: 1rem;
   font-family: helvetica;
   top:-1;
}

@media only screen and (max-width: 470px) {
  .titlebar{
      top: 0rem;
  }
  .DJLS{
   top: 5rem;
   right: 2rem;
  }

  .DJLS h1{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1.33rem;
  }
 .container{
    max-width: 100%;
  }

.navigation{
  display: none;
}
.altnavigation{
  display: flex;
}

.companyinfo h4{
  display: none;
}

.servicebar{
  display: flex;
  position: relative;
  top: 3.77rem;
  flex-direction: column;
  align-items: center;
}

.detailbar{
  display:flex;
  flex-direction: column;
  align-items: center;
  top: 3.77rem;
  position: relative;
  height: auto;
  color:black;
  font-size: 0.77rem;
}

.detailboxR{

  margin-left: 0;
  width: 35%;
}

footer span{
  display: none;
}


 }
